* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .menu {
    background-color: #ff0000;
    padding: 10px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
  }
  
  .categorias {
    display: inline-block;
    vertical-align: top;
    padding: 18px;
  }
  
  .produtos {
    display: inline-block;
    text-align: center;
  }
  
  .box-produto {
    width: 23%;
    vertical-align: bottom;
    font-size: 12px;
    text-align: center;
    padding: 28
  
  }
  
  
  
  

 


    .preco{
        color: red;
        font-size: 20px ;    
    }

    .contatos{
        display: inline-block;
        font-size: 25px;      
        padding-left: 10px;
        padding-right: 100px;
        margin-left: 200px;
          
    }

    .contatos p{    
        align-items: center;
        margin-left: 40px;
        height: 225px;
    }

  

   .lojas{
       display: inline-block;
       vertical-align: text-top;
       align-items: center ;
       margin: 10px;
       padding-right: 270px;
       height: 445px;
   }


   #rodape {
    text-align: center;
    margin-top: 20px;
  }
  
  #rodape img {
    width: 420px;
  }
  
  #formas_pagamento {
    color: red;
  }